.slider_area img {
    height: 90vh !important;
}
.slider_area .custom_slider .custom_caption .talk_submit {
    padding: 11px 29px;
    background-color: #3377cb;
    color: #fff;
    border: none;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    .slider_area img {
        height: 60vh !important;
    }
}

/* overright */
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-dark .carousel-caption {
    color: #fff;
}
.carousel-caption {
    bottom: 25.6rem;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: invert(0) grayscale(100);
}